.navbar-grand {
    height: 100px;
}

.nav-logo {
    font-weight: bold;
    font-size: 1.8em;

    img {
        max-height: 1.8em;    
    }
}

.navbar.bg-black, .navbar.bg-transparent  {
    transition: .5s!important;
}